@font-face {
  font-family: HelveticaNeueCyr-Roman; /* Имя шрифта */
  src: url(fonts/helveticaneuecyr-roman.woff); /* Путь к файлу со шрифтом */
 }

* {
  margin: 0;
  font-family: HelveticaNeueCyr-Roman;
}

body {
  background-color: black;
}

.playing-field {
  min-width: 1240px;
  max-width: 1240px;
  min-height:  630px;
  max-height: 750px;
  border: 2px solid black;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: grey;
}

.main-image {
  margin: 0 auto 10px;
  border-radius: 10px;
  display: block;
}

.situation-field {
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.situation-block {
  border: 2px solid black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  background-color:#E2E2E2;
  border-radius: 10px;
  font-weight: bold;
  max-height: 89px;
  min-height: 89px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.situation-block::-webkit-scrollbar { width: 0; }

.options-block {
  display: flex;
  flex-direction: column;
}

.option {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #E2E2E2;
  display: flex;
  justify-content: center;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.condition-field {
  width: calc(17% - 10px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #E2E2E2;
  border-radius: 15px;
}

.character-image {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  background-color:rgba(0, 0, 0, 0.8);
  background-image: url('./img/SPOILER_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.condition-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.condition-name {
  min-width: 85px;
  display: inline-block;
  font-size: 14px;
}


.condition-state {
  color: green;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

.bullets {
  color: black;
}

.things {
  font-size: 14px;
}

.things-box {
  flex-direction: column;
  align-items: flex-start;
}

.things-line {
  margin-top: 10px;
}

.things-line span {
  text-transform: uppercase;
}